Un archivo .gitignore es un archivo utilizado para proyectos de Git como sistema de control de versiones. Su función principal es la especificacion de archivos y directorios que deben ser ignorados por Git,en resumen, no ser rastreados ni incluidos en el repositorio, siendo este su proposito se puede tomar el archivo .gitigmore como un excluidor o suprimidor de comando, archivos o directorios que son mejor no tomar en cuenta o no aportan nada .
